.about{
    background-color: #1abc9c;
    padding: 3em 5em;
}
.about .content{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    margin-top: 1em;
}
.about .content p{
    font-size: 1.25rem;
    font-weight: 400;
    color: #FFF;
    width: 80%;
}
.about a{
    text-decoration: none;
    display: block;
    width: 20%;
    margin: 1em auto;
    color: #FFF;
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
    border: 1px solid #FFF;
    border-radius: 8px;
    transition: 0.5s ease-in-out;

}
.about a:hover{
    background-color: #FFF; 
    border: 1px solid #000;
    color: #000;
    border-radius: 8px;

}
.about a i{
    margin-right: 0.5em;
}
.about a:hover i{
    color: #000;
}
@media only screen and (max-width: 1276px) {
    .about .content{
        flex-wrap: wrap;
        width: 90%;
    }
    .about a{
        width: 230px;
    }
  }